header {
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    padding: 1rem 2rem;
    background-color: #1a1a2e;
    justify-content: space-between;
    
    border-bottom: 3px solid #ffcc00;

    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.3);

    width: 100%;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: darkorange;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffcc00;
}

.logo{
    background-color: #1a1a2e;
    border-bottom: 3px solid #ffcc00;
    box-shadow: 10px 4px 10px rgba(255, 204, 0, 0.3);
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 40px;
    margin: 30px 0px;
}

.principal{
    color: antiquewhite;
    text-align: center;
    margin: 30px 0px;
    
}

.banner-principal {
    display: flex;
    justify-content: center;
}
.banner-principal img{
    border-radius: 30px;
}

body{
    background-color: #2c2c2c ;
}

.boxstyle-feature {
    border-radius: 30px;
    box-shadow: 0px 2px 5px 2px #00000080;
    border: 2px solid gray;    
}

.caracter-title{
    color: #00B7EE;
    margin: 20px;
    font-weight: bolder;
    font-size: 25px;
}

.caracteristicas{
    background: #6b6b6b;
    color: #fff;
    height: 100%;
    padding: 30px;

}

.caracteristicas ul {
    align-items: top;
    display: flex;
    justify-content: space-around;
}

.caracteristicas ul li{
    align-items: top;
    display: flex;
    justify-content: space-between
}

.caracteristicas ul li .feature-text{
    background: #6b6b6b;
    color: #fff;
    height: 100%;
    padding: 8px;
    border-radius: 30px;
    box-shadow: 0px 2px 5px 2px #00000080;
    border: 2px solid gray; 
}

.caracteristicas ul li .feature-text .feature-tit{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}

.caracteristicas ul li .feature-text .featurett1{
    color: #d0d5dd
}

.caracteristicas ul li .feature-text img{
    border-radius: 30px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1.5rem;
    color: #777;
    font-size: 0.9rem;
    border-top: 1px solid #ffcc00;
    margin-top: 2rem;
    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.3);
}